@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <partial name="_showParticalView" />
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <button id='open' data-toggle="modal" data-target="#showmodal">open modal</button>
</div>
